<html>
	<body>
		<div>
			Hello, 
		</div>		
		<div>
			Someone, possibly not you, has requested to reset your user password at hiresmart.
		</div>
		
		<div>
			Click <a href="{inviteURL}/resetpassword/{account.passwordResetChallenge}">here</a> to reenter password, otherwise, please disregard.
		</div>
		
		<div>
		  	Thanks, 
		</div>
		
		<div>
		  	the team
		</div>
	</body>
</html>